* {
	box-sizing: border-box;
	border: 1px solid red;
}

.page-header {
	margin: 0;
	width: 100%;
	height: 200px;
	background-color: blue;
}

.first-section {

}

.first-articles {
	display: flex;
	background-color: yellow;
}

.first-articles__article {
	flex-grow: 1;
	height: 800px;
}

.second-articles {
	display: flex;
}

.second-articles__article {
	flex-grow: 1;
	height: 500px;
}

.third-articles {
	display: flex;
}